@mixin flex($hor:center,$col:center){
    display: flex;
    justify-content: $hor;
    align-items: $col;
}


@mixin bgImg($url,$size:contain) {
    background:url($url) no-repeat center;
    background-size: $size;
}


@mixin position($pos:absolute,$top:0,$left:0) {
    position: $pos;
    top: $top;
    left:$left;
}